Simple3DCurves/.vs/Simple3DCurves/v16/.suo
Simple3DCurves/.vs/Simple3DCurves/v16/Browse.VC.db
Simple3DCurves/.vs/Simple3DCurves/v16/Browse.VC.db-shm
Simple3DCurves/.vs/Simple3DCurves/v16/Browse.VC.db-wal
Simple3DCurves/.vs/Simple3DCurves/v16/Browse.VC.opendb
Simple3DCurves/.vs/Simple3DCurves/v16/ipch/AutoPCH/5ec3cc46a2a5694/SIMPLE3DCURVES.ipch
Simple3DCurves/.vs/Simple3DCurves/v16/ipch/AutoPCH/738bbfadf4461b63/HELIX.ipch
Simple3DCurves/.vs/Simple3DCurves/v16/ipch/AutoPCH/740cd780ef148038/ELLIPSE.ipch
Simple3DCurves/.vs/Simple3DCurves/v16/ipch/AutoPCH/9d617214f50b605f/BASECURVE.ipch
Simple3DCurves/.vs/Simple3DCurves/v16/ipch/AutoPCH/c89abaa11dd5484f/CIRCLE.ipch
Simple3DCurves/.vs/Simple3DCurves/v16/ipch/AutoPCH/f6f7756beff0e131/ELLIPSE.ipch
Simple3DCurves/Debug/BaseCurve.obj
Simple3DCurves/Debug/Simple3DCurves.exe
Simple3DCurves/Debug/Simple3DCurves.exe.recipe
Simple3DCurves/Debug/Simple3DCurves.ilk
Simple3DCurves/Debug/Simple3DCurves.log
Simple3DCurves/Debug/Simple3DCurves.obj
Simple3DCurves/Debug/Simple3DCurves.pdb
Simple3DCurves/Debug/Simple3DCurves.vcxproj.FileListAbsolute.txt
Simple3DCurves/Debug/vc142.idb
Simple3DCurves/Debug/vc142.pdb
Simple3DCurves/Debug/Simple3DCurves.tlog/CL.command.1.tlog
Simple3DCurves/Debug/Simple3DCurves.tlog/CL.read.1.tlog
Simple3DCurves/Debug/Simple3DCurves.tlog/CL.write.1.tlog
Simple3DCurves/Debug/Simple3DCurves.tlog/link.command.1.tlog
Simple3DCurves/Debug/Simple3DCurves.tlog/link.read.1.tlog
Simple3DCurves/Debug/Simple3DCurves.tlog/link.write.1.tlog
Simple3DCurves/Debug/Simple3DCurves.tlog/Simple3DCurves.lastbuildstate
Simple3DCurves/Debug/Circle.obj
Simple3DCurves/Debug/Ellipse.obj
Simple3DCurves/Debug/Helix.obj
